*{
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
color: white;

}

body{
    background-color: rgb(63, 47, 83);
    background-image: url(https://c.wallhere.com/photos/8b/48/TylerCreatesWorlds_space_galaxy_stars_purple-155782.jpg!d);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}